* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.main img{
    height: 20vh;
    width: 20vh;
   
}

.paragraph {
    border: 1px solid black;
    height: 40vh;
    width: 40vh;
    border-radius: 5%;
    text-align: center;
    justify-content: space-between;
}